/* components/Card.module.css */
.card {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  width: 100%; /* важливо! */
}

.card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
